fastapi 
uvicorn[standard]
pydantic 
pandas 
gunicorn 
boto3
scikit-learn
typing
streamlit 
matplotlib 
seaborn 
plotly
altair
numpy
joblib
streamlit-aggrid
streamlit-echarts
keras
tensorflow